body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:989px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:100px;
  height:100px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u1 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:812px;
  top:799px;
  width:170px;
  height:60px;
  font-family:'Century Gothic Regular', 'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:60px;
}
#u3 {
  position:absolute;
  left:2px;
  top:19px;
  width:166px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:10px;
  top:201px;
  width:134px;
  height:35px;
  font-family:'Century Gothic Bold', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:35px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:10px;
  top:239px;
  width:976px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:959px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:5px;
  width:976px;
  height:1px;
}
#u7 {
  position:absolute;
  left:198px;
  top:329px;
  width:600px;
  height:70px;
  font-family:'Century Gothic Regular', 'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#666666;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:70px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:448px;
  top:272px;
  width:100px;
  height:47px;
  font-family:'Century Gothic Regular', 'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#666666;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:47px;
}
#u10 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:13px;
  top:799px;
  width:170px;
  height:60px;
  font-family:'Century Gothic Regular', 'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:60px;
}
#u12 {
  position:absolute;
  left:2px;
  top:19px;
  width:166px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:870px;
  top:838px;
  width:52px;
  height:13px;
  font-family:'Century Gothic Regular', 'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#999999;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:13px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:59px;
  top:838px;
  width:80px;
  height:13px;
  font-family:'Century Gothic Regular', 'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#999999;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:13px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:758px;
  top:223px;
  width:231px;
  height:10px;
  font-family:'Century Gothic Regular', 'Century Gothic';
  font-weight:400;
  font-style:normal;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:10px;
}
#u18 {
  position:absolute;
  left:2px;
  top:-3px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:758px;
  top:223px;
  width:108px;
  height:10px;
  font-family:'Century Gothic Regular', 'Century Gothic';
  font-weight:400;
  font-style:normal;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:10px;
}
#u20 {
  position:absolute;
  left:2px;
  top:-3px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:828px;
  top:207px;
  width:92px;
  height:16px;
  font-family:'Century Gothic Regular', 'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:199px;
  top:415px;
  width:10px;
  height:795px;
}
#u23_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u23_end {
  position:absolute;
  left:-5px;
  top:778px;
  width:20px;
  height:18px;
}
#u23_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:795px;
}
#u24 {
  position:absolute;
  left:785px;
  top:415px;
  width:10px;
  height:795px;
}
#u24_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u24_end {
  position:absolute;
  left:-5px;
  top:778px;
  width:20px;
  height:18px;
}
#u24_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:795px;
}
#u25 {
  position:absolute;
  left:866px;
  top:50px;
  width:65px;
  height:17px;
  font-family:'Century Gothic Regular', 'Century Gothic';
  font-weight:400;
  font-style:normal;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:17px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:940px;
  top:55px;
  width:11px;
  height:10px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:10px;
}
#u28 {
  position:absolute;
  left:2px;
  top:-3px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:834px;
  top:48px;
  width:25px;
  height:25px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u30 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:789px;
  top:94px;
  width:200px;
  height:106px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:106px;
}
#u32 {
  position:absolute;
  left:2px;
  top:45px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:812px;
  top:76px;
  width:79px;
  height:15px;
  font-family:'Century Gothic Regular', 'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:15px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:808px;
  top:127px;
  width:69px;
  height:17px;
  font-family:'Century Gothic Regular', 'Century Gothic';
  font-weight:400;
  font-style:normal;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:17px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:808px;
  top:155px;
  width:47px;
  height:17px;
  font-family:'Century Gothic Regular', 'Century Gothic';
  font-weight:400;
  font-style:normal;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:17px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:789px;
  top:94px;
  width:200px;
  height:106px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:106px;
}
#u40 {
  position:absolute;
  left:2px;
  top:45px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:863px;
  top:162px;
  width:58px;
  height:17px;
  font-family:'Century Gothic Regular', 'Century Gothic';
  font-weight:400;
  font-style:normal;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:867px;
  top:115px;
  width:43px;
  height:43px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:43px;
}
#u44 {
  position:absolute;
  left:2px;
  top:14px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:120px;
  top:30px;
  width:220px;
  height:55px;
  font-family:'Century Gothic Regular', 'Century Gothic';
  font-weight:400;
  font-style:normal;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:55px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:219px;
  top:429px;
  width:160px;
  height:160px;
  font-family:'Century Gothic Regular', 'Century Gothic';
  font-weight:400;
  font-style:normal;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
}
#u48 {
  position:absolute;
  left:2px;
  top:72px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:259px;
  top:459px;
  width:80px;
  height:80px;
  font-family:'Century Gothic Regular', 'Century Gothic';
  font-weight:400;
  font-style:normal;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u50 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:293px;
  top:549px;
  width:16px;
  height:24px;
  font-family:'Century Gothic Bold', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:24px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:419px;
  top:429px;
  width:160px;
  height:160px;
  font-family:'Century Gothic Regular', 'Century Gothic';
  font-weight:400;
  font-style:normal;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
}
#u54 {
  position:absolute;
  left:2px;
  top:72px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:459px;
  top:459px;
  width:80px;
  height:80px;
  font-family:'Century Gothic Regular', 'Century Gothic';
  font-weight:400;
  font-style:normal;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u56 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:493px;
  top:549px;
  width:13px;
  height:24px;
  font-family:'Century Gothic Bold', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:24px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:617px;
  top:429px;
  width:160px;
  height:160px;
  font-family:'Century Gothic Regular', 'Century Gothic';
  font-weight:400;
  font-style:normal;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
}
#u60 {
  position:absolute;
  left:2px;
  top:72px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:657px;
  top:459px;
  width:80px;
  height:80px;
  font-family:'Century Gothic Regular', 'Century Gothic';
  font-weight:400;
  font-style:normal;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u62 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:691px;
  top:549px;
  width:17px;
  height:24px;
  font-family:'Century Gothic Bold', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:24px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:219px;
  top:629px;
  width:160px;
  height:160px;
  font-family:'Century Gothic Regular', 'Century Gothic';
  font-weight:400;
  font-style:normal;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
}
#u66 {
  position:absolute;
  left:2px;
  top:72px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:259px;
  top:659px;
  width:80px;
  height:80px;
  font-family:'Century Gothic Regular', 'Century Gothic';
  font-weight:400;
  font-style:normal;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u68 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:293px;
  top:749px;
  width:15px;
  height:24px;
  font-family:'Century Gothic Bold', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:24px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:419px;
  top:629px;
  width:160px;
  height:160px;
  font-family:'Century Gothic Regular', 'Century Gothic';
  font-weight:400;
  font-style:normal;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
}
#u72 {
  position:absolute;
  left:2px;
  top:72px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:459px;
  top:659px;
  width:80px;
  height:80px;
  font-family:'Century Gothic Regular', 'Century Gothic';
  font-weight:400;
  font-style:normal;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u74 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:493px;
  top:749px;
  width:11px;
  height:24px;
  font-family:'Century Gothic Bold', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:24px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:617px;
  top:629px;
  width:160px;
  height:160px;
  font-family:'Century Gothic Regular', 'Century Gothic';
  font-weight:400;
  font-style:normal;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
}
#u78 {
  position:absolute;
  left:2px;
  top:72px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:657px;
  top:659px;
  width:80px;
  height:80px;
  font-family:'Century Gothic Regular', 'Century Gothic';
  font-weight:400;
  font-style:normal;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u80 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:691px;
  top:749px;
  width:11px;
  height:24px;
  font-family:'Century Gothic Bold', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:24px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u83 {
  position:absolute;
  left:219px;
  top:829px;
  width:160px;
  height:160px;
  font-family:'Century Gothic Regular', 'Century Gothic';
  font-weight:400;
  font-style:normal;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
}
#u84 {
  position:absolute;
  left:2px;
  top:72px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:259px;
  top:859px;
  width:80px;
  height:80px;
  font-family:'Century Gothic Regular', 'Century Gothic';
  font-weight:400;
  font-style:normal;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u86 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:293px;
  top:949px;
  width:18px;
  height:24px;
  font-family:'Century Gothic Bold', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:24px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u89 {
  position:absolute;
  left:419px;
  top:829px;
  width:160px;
  height:160px;
  font-family:'Century Gothic Regular', 'Century Gothic';
  font-weight:400;
  font-style:normal;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
}
#u90 {
  position:absolute;
  left:2px;
  top:72px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:459px;
  top:859px;
  width:80px;
  height:80px;
  font-family:'Century Gothic Regular', 'Century Gothic';
  font-weight:400;
  font-style:normal;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u92 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:493px;
  top:949px;
  width:15px;
  height:24px;
  font-family:'Century Gothic Bold', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:24px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u95 {
  position:absolute;
  left:617px;
  top:829px;
  width:160px;
  height:160px;
  font-family:'Century Gothic Regular', 'Century Gothic';
  font-weight:400;
  font-style:normal;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
}
#u96 {
  position:absolute;
  left:2px;
  top:72px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:657px;
  top:859px;
  width:80px;
  height:80px;
  font-family:'Century Gothic Regular', 'Century Gothic';
  font-weight:400;
  font-style:normal;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u98 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:691px;
  top:949px;
  width:7px;
  height:24px;
  font-family:'Century Gothic Bold', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:24px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  white-space:nowrap;
}
#u101 {
  position:absolute;
  left:219px;
  top:1029px;
  width:160px;
  height:160px;
  font-family:'Century Gothic Regular', 'Century Gothic';
  font-weight:400;
  font-style:normal;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
}
#u102 {
  position:absolute;
  left:2px;
  top:72px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:259px;
  top:1059px;
  width:80px;
  height:80px;
  font-family:'Century Gothic Regular', 'Century Gothic';
  font-weight:400;
  font-style:normal;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u104 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:293px;
  top:1149px;
  width:11px;
  height:24px;
  font-family:'Century Gothic Bold', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:24px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u107 {
  position:absolute;
  left:419px;
  top:1029px;
  width:160px;
  height:160px;
  font-family:'Century Gothic Regular', 'Century Gothic';
  font-weight:400;
  font-style:normal;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
}
#u108 {
  position:absolute;
  left:2px;
  top:72px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:459px;
  top:1059px;
  width:80px;
  height:80px;
  font-family:'Century Gothic Regular', 'Century Gothic';
  font-weight:400;
  font-style:normal;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u110 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:493px;
  top:1149px;
  width:13px;
  height:24px;
  font-family:'Century Gothic Bold', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:24px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u113 {
  position:absolute;
  left:617px;
  top:1029px;
  width:160px;
  height:160px;
  font-family:'Century Gothic Regular', 'Century Gothic';
  font-weight:400;
  font-style:normal;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
}
#u114 {
  position:absolute;
  left:2px;
  top:72px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:691px;
  top:1149px;
  width:10px;
  height:24px;
  font-family:'Century Gothic Bold', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:24px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u117 {
  position:absolute;
  left:665px;
  top:1050px;
  width:61px;
  height:24px;
  font-family:'Century Gothic Bold', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u119 {
  position:absolute;
  left:569px;
  top:280px;
  width:81px;
  height:16px;
  font-family:'Century Gothic Regular', 'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
